{% extends "invoice/base/base.html" %}

{% load i18n %}

<!-- Content Row -->
{% block content %}

{% if messages %}
<div class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    {% for message in messages %}
    <div>
        
        {% if message.tags %}
        {{ message }}
        {% endif %}
        
    </div>
    {% endfor %}
  </div>    
{% endif %}
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <label class="m-0 font-weight-bold text-primary">{% trans 'Create product' %}</label>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="customer_name">{% trans 'Product name' %}</label>
                        {{product.product_name}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="customer_gender">{% trans 'Price' %}</label>
                        {{product.product_price}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="customer_dob">{% trans 'Unit' %}</label>
                        {{product.product_unit}}
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-info" type="submit" name="Create customer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}