{% extends 'invoice/base/base.html' %} 

{% load i18n %}

{% block content %}

<!-- <div class="container"> -->

<!-- <h1>Registro de usuarios </h1>
{{ error }} -->

<!-- <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="btn btn-primary">signUp</button>
</form> -->

</div>

<div class="container">

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <br><br><br>
            <div class="card">
                <div class="card-body">
                    
                    <h1>{% trans 'User Registration' %}</h1>
                    {{ error }}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <input type="submit" value="Registrar" class="btn btn-success float-right">
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}